// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");




$backgroundColor: #684BB1;

@mixin text__title {
font-family: Poppins; 
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
width: 280px;
height: 72px;
}

@mixin text__description {
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 304px;
    height: 120px;

}

@mixin text__btn {
    
    background: #FFFFFF;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    border-radius: 20px;
    width: 200px;
    height: 40px;
    border-style: none;
    margin-top: 1rem;
}






body{
    
    height:  100vh;
    background: url(/images/bg-mobile.svg), $backgroundColor;
    background-repeat: no-repeat;
    
    
    


    .container{
    
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        position: relative;
        
        .logo{
            position: absolute;
            top:1.5rem;
            left: 2.2rem;
            background-image: url(/images/logo.svg);
            width: 120px;
            height: 25px;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 2rem;
    
        }


        .images{

            background-image: url(/images/illustration-mockups.svg);
            background-size: cover;
            height: 209px;
            width: 296px;
            background-repeat: no-repeat;
            margin-top: 7rem;

        }

        .text{

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            

            .text__title{

                @include text__title();

            }

            .text__description{

                @include text__description();


            }

            .text__btn{

                @include text__btn();
                
            }

        }
    }
    .socialMedia{

        width: 200px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 3rem;

        
        .circle{
    
            width: 2rem;
            height: 2rem;
            border: 0.798301px solid #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            
        }
        
        
    }
    

}
